header {
    border-bottom: 1px solid #dbdbdb;
    height: 54px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.toy-filter{
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding: 4px;
    width: 215px;
    font-size: 14px;
    border-radius: 3px;
}
nav{
    display: flex;
    height: 22px;
}
nav img{
    height: 100%;
    width: 22px;
    object-fit: contain;
}
